body {
    text-align: center;
    background: #ffe6f0;
    margin: 0;
    padding: 0;
}

p,
span,
summary {
    margin: 0 auto;
    max-width: 600px;
    /* keeps lines readable */
    padding: 0 15px;
    /* small padding on mobile */
    color: rgb(199, 70, 126);
}

.headp {
    text-align: center;
    padding-bottom: 3%;
}

.headings {
    color: #9933cc;
    border: 2px solid #e18ab8;
    margin: 20px auto;
    max-width: 600px;
    padding: 5px 10px;
}

.heading {
    color: #9933cc;
    /* border: 2px solid #e18ab8; */
    margin: 20px auto;
    max-width: 600px;
    padding: 5px 10px;
}

table {
    padding-top: 3%;
    margin: 0 auto;
}

.date {
    clear: both;
    float: inline-end;
    padding-top: 1%;
    padding-bottom: 3%;
}

.pictures {
    width: 20%;
    max-width: 40%;
    /* keeps image responsive */
    height: auto;
    margin: 1%;
    border: 2px solid #e18ab8;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(20, 19, 19, 0.2);
}

#firstpic {
    float: none;
}

.info {
    padding: 2%;
    float: right;
}

/* Mobile adjustments */
@media (max-width: 768px) {

    p,
    span,
    summary {
        max-width: 90%;
        padding: 0 10px;
    }

    .headings {
        max-width: 90%;
    }
}

.btn {
    background-color: #df6690;
    color: rgb(255, 255, 255);
    border: 2px solid #e18ab8;
    border: none;
    padding: 10px 20px;
    /* margin: 10px; */
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(172, 19, 70);
    color: white;
    cursor: pointer;
}

.cct {
    color: #ee44b0;
    text-decoration: none;
}

.cct:hover {
    color: #9933cc;
    text-decoration: underline;
    cursor: pointer;
}

/* other pseudo selectors for links */
/*.cct:focus {
        color: #9933cc;
        outline: 2px solid #9933cc;
     .cct:active {
        color: rgb(0,0,0);
    }

    .cct:visited {
        color: #9933cc;
    } */

.mainbar {
    background-color: #f706673a;
    margin: 10px;
    /*padding: 1%; */
    border: 2px solid #e18ab8;
    border-radius: 30px;
}

.navlist li {
    float: left;
    list-style-type: none;
    text-decoration: none;
    padding: 1% 1%;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.navlist li a {
    text-decoration: none;
    color: #9933cc;
    font-weight: bold;
}

.srch {
    float: none;
    padding: auto;
}

.txtbar {
    padding: 4px;
    background-color: #ffe6f0;
    border: 2px solid #e18ab8;
    border-radius: 5px;
    width: 20%;
}

.txtbar:hover {
    background-color: #f0c4d6;
}

.forms {
    color: rgb(199, 70, 126);
}

.forms input,
textarea,
select {
    /* padding: 5px; */
    background-color: #ffe6f0;
    border: 2px solid #e18ab8;
    border-radius: 5px;
}
